
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #f4f4f4, #333); 
    background-attachment: fixed;
    color: black;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    text-align: right;
}

button {
    text-align: right;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #c4c3c1;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #050505;
    color: rgb(253, 253, 253);
}


.dark-mode {
    background-image: linear-gradient(to bottom, #1a1a1a, #000);
    color: white;
}

.dark-mode header {
    background-color: #242323;
}

.dark-mode button {
    background-color: #333;
    color: white;
}

.dark-mode button:hover {
    background-color: #555;
}

.dark-mode th, .dark-mode td {
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.dark-mode #Integrantes, .dark-mode #Projeto, .dark-mode #Divisão {
    background-color: #242323;
    border: 5px solid #222;
}

.dark-mode p, .dark-mode h2, .dark-mode h1 {
    color: #fff;
}

.dark-mode .footer{
    background-color: #242323;
    color: white; 
    text-align: center; 
    padding: 8px ; 
    margin-top: 14px; 
}

.img{
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid rgb(44, 44, 44);
    padding: 8px 12px;
    text-align: left;
    font-size: 14px;
    color: #020202;
}

th {
    background-color: #7e7e7e;
    font-weight: bold;
    text-align: center;
}

#Integrantes, #Projeto, #Divisão {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #e0dfde;
    border: 5px solid #636262;
    border-radius: 8px;
}

#Integrantes_white
.img{
    text-align: center; 
}

h1{
    color: #fafafa;
}
p,h2{
    color: #0a0a0a;
}

@media (max-width: 768px) {
    #Integrantes, #Divisão, #Projeto {
        max-width: 90%;
    }
}

.footer {
    background-color: #333; /* Cor de fundo diferente */
    color: white; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    padding: 8px ; /* Espaçamento interno */
    margin-top: 14px; /* Margem superior */
}